API_KEY=YOUR_API_KEY
API_URL='https://api.rawg.io/api/'

FRONTEND_PORT=FRONTEND_PORT
BACKEND_PORT=BACKEND_PORT

MONGO_USER=MONGO_USER
MONGO_PASS=MONGO_PASS
MONGO_DB=PPROJ

MONGODB_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@mongo:27017/${MONGO_DB}?authSource=admin

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_CLIENT_CALLBACK_URL="http://localhost:${BACKEND_PORT}/supify/api/auth/google/callback"

PRODUCTION_STATE="production"

CREATE_ADMIN_ACOUNT=CREATE_ADMIN_ACOUNT
# To create an admin profile send a request via postman/bruno or another tool to {http://localhost:${BACKEND_PORT}/supify/api/user/register?admin=${CREATE_ADMIN_ACOUNT}}

JWT_SECRET=JWT_SECRET

VITE_API_URL="http://localhost:${BACKEND_PORT}/supify/api"
