API_KEY=YOUR_API_KEY
API_URL=API_URL

FRONTEND_PORT=FRONTEND_PORT
BACKEND_PORT=BACKEND_PORT

MONGO_USER=MONGO_USER
MONGO_PASS=MONGO_PASS
MONGO_DB=MONGO_DB

MONGODB_URI=MONGODB_URI

PRODUCTION_STATE=PRODUCTION_STATE

CREATE_ADMIN_ACOUNT=CREATE_ADMIN_ACOUNT
JWT_SECRET=JWT_SECRETa

VITE_API_URL=VITE_API_URL